# Node.js modules.
node_modules/

# NPM's lockfiles.
# We're using PNPM and it provides its own lockfile.
package-lock.json
npm-shrinkwrap.json‎

# Yarn's lockfile, Plug'n'Play, folder and settings.
# We're using NPM and it provide its own lockfile and settings.
yarn.lock
.pnp.*
.yarn
.yarnrc
.yarnrc.yaml
